<?xml version="1.0"?>
<connectionStrings>
	<!--Produccion: Azure SQL (codigocreativo.database.windows.net, base SIGMA). Migrada desde MonsterASP el 08-10-2026-->
	<add name="SIGMA" connectionString="Data Source=tcp:codigocreativo.database.windows.net,1433;Initial Catalog=SIGMA;User Id=sigma;Password=codigocreativo2003$;Encrypt=True;TrustServerCertificate=False;MultipleActiveResultSets=True;Connection Timeout=30;" />
</connectionStrings>