<?xml version="1.0"?>
<connectionStrings>
	<!--Produccion: base de MonsterASP, conexion interna del datacenter-->
	<add name="SIGMA" connectionString="Data Source=db71936.databaseasp.net;Initial Catalog=db71936;User Id=db71936;Password=5Qz=_g3Yr4S#;Encrypt=False;MultipleActiveResultSets=True;" />
</connectionStrings>