<%@ Master Language="C#" CodeFile="Simple.master.cs" Inherits="Master_Simple" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title></title>

    <!-- Bootstrap Css -->
    <link href="../Css/Adminto/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- Icons Css -->
    <link href="../Css/Adminto/assets/css/icons.min.css" rel="stylesheet" type="text/css" />

    <!-- App Css-->
    <link href="../Css/Adminto/assets/css/app.min.css" rel="stylesheet" type="text/css" />

    <!-- AjaxProgress CSS -->
    <link href="../Css/AjaxProgress/cssUpdateProgress.css" rel="stylesheet" />
    <link href="../Css/AjaxProgress/UpdateProgress.css?vrs=1" rel="stylesheet" />

    <!-- Default CSS -->
    <link href="../Css/Default/Default.css?vrs=3" rel="stylesheet" />
    <!-- Telerik CSS -->
    <link href="../Css/UI/Telerik/Bootstrap/Grid.css?vrs=4" rel="stylesheet" />
    <link href="../Css/UI/Telerik/Bootstrap/RadComboBox.css?vrs=1" rel="stylesheet" />

    <!-- WebControls CSS -->
    <link href="../Css/UI/WebControls/calendar/CSS/Classic.css?vrs=1" rel="stylesheet" />
    <link href="../Css/UI/WebControls/Button.css?vrs=1" rel="stylesheet" />
    <link href="../Css/UI/WebControls/TextBox.css?vrs=1" rel="stylesheet" />
    <link href="../Css/UI/WebControls/CheckBox.css?vrs=1" rel="stylesheet" />

    <!-- SweetAlert CSS -->
    <link href="../Css/SweetAlert/sweetalert.css?vrs=2" rel="stylesheet" />
    <link href="../Css/SweetAlert/sweetalert2.min.css?vrs=2" rel="stylesheet" />

    <asp:ContentPlaceHolder ID="cphHeder" runat="server">
        <style>
            /* Forzar que los botones (Maximizar/Cerrar, etc.) siempre queden en una sola fila,
       sin depender del float/list-style del skin base embebido en Telerik.Web.UI */
            .RadWindow_Bootstrap .rwControlButtons,
            .RadWindow_Bootstrap .rwTable .rwControlButtons {
                display: flex !important;
                flex-flow: row nowrap !important;
                align-items: center;
                list-style: none;
                white-space: nowrap;
            }

                .RadWindow_Bootstrap .rwControlButtons li,
                .RadWindow_Bootstrap .rwTable .rwControlButtons li {
                    display: inline-block !important;
                    float: none !important;
                    flex: 0 0 auto;
                }
        </style>
    </asp:ContentPlaceHolder>
</head>
<body style="background-color: white;">
    <form id="form1" runat="server" style="height: 100%; margin: 0px">
        <div>
            <!--Inicio ScriptManager-->
            <div>
                <script type="text/javascript">
                    window.ClarityData = {
                        idUsuario: '<%= SitioBase.Session.UsuarioId() %>',
                        nombreUsuario: '<%= SitioBase.Session.UsuarioNombreCompleto().Replace("'", "\\'") %>',
                        ipUsuario: '<%= SitioBase.Session.RemoteHost() %>'
                    };
                </script>
                <!-- Google tag (gtag.js) -->
                <script async src="https://www.googletagmanager.com/gtag/js?id=G-8TTQG9J7KW"></script>
                <asp:ScriptManager ID="ScriptManager1" runat="server" EnablePageMethods="true" AsyncPostBackTimeout="3600"
                    EnableScriptGlobalization="true" EnableScriptLocalization="true">
                    <Scripts>
                        <asp:ScriptReference Path="~/Js/Clarity.js" />
                        <asp:ScriptReference Path="~/Js/Google-analytics.js" />
                        <asp:ScriptReference Path="~/Js/jquery-1.11.3.min.js" />
                        <asp:ScriptReference Path="~/Js/jquery-1.8.2.min.js" />
                        <asp:ScriptReference Path="~/Js/jquery-ui-1.8rc3.custom.min.js" />
                        <asp:ScriptReference Path="~/Js/jquery-1.9.1.js" />
                        <asp:ScriptReference Path="~/Js/Library.js?vrs=8" />
                        <asp:ScriptReference Path="~/Js/highcharts/highcharts.js" />
                        <asp:ScriptReference Path="~/Js/highcharts/highchartTable-min.js" />
                        <asp:ScriptReference Path="~/Css/AjaxProgress/jsUpdateProgress.js" />
                        <asp:ScriptReference Path="~/Css/UI/WebControls/calendar/PopCalendarFunctionsAjaxNet.js" />
                        <asp:ScriptReference Path="~/Css/SweetAlert/sweetalert2.min.js" />
                    </Scripts>
                </asp:ScriptManager>
                <!--Inicio AjaxProgress-->
                <asp:Panel ID="panelUpdateProgress" runat="server" CssClass="updateProgress">
                    <asp:UpdateProgress ID="UpdateProg1" DisplayAfter="0" runat="server">
                        <ProgressTemplate>
                            <div class="up-card">
                                <div class="up-spinner-wrap">
                                    <div class="up-ring"></div>
                                    <div class="up-svg-box">
                                        <svg viewBox="0 0 400 400" xmlns="http://www.w3.org/2000/svg">
                                            <defs>
                                                <filter id="upGlow">
                                                    <feGaussianBlur result="blur" stdDeviation="2" />
                                                    <feComposite in="SourceGraphic" in2="blur" operator="over" />
                                                </filter>
                                            </defs>
                                            <g transform="translate(200, 200)">
                                                <circle cx="0" cy="0" fill="#004a80" r="12">
                                                    <animate attributeName="r" dur="3s" repeatCount="indefinite" values="12;14;12" />
                                                </circle>
                                                <g opacity="0.6" stroke="#cfdaf2" stroke-width="1.5">
                                                    <line x1="0" y1="0" x2="60" y2="-40">
                                                        <animateTransform attributeName="transform" type="rotate" from="0" to="360" dur="20s" repeatCount="indefinite" />
                                                    </line>
                                                    <line x1="0" y1="0" x2="-50" y2="-70">
                                                        <animateTransform attributeName="transform" type="rotate" from="0" to="-360" dur="25s" repeatCount="indefinite" />
                                                    </line>
                                                    <line x1="0" y1="0" x2="40" y2="80">
                                                        <animateTransform attributeName="transform" type="rotate" from="0" to="360" dur="30s" repeatCount="indefinite" />
                                                    </line>
                                                    <line x1="0" y1="0" x2="-80" y2="30">
                                                        <animateTransform attributeName="transform" type="rotate" from="0" to="-360" dur="22s" repeatCount="indefinite" />
                                                    </line>
                                                </g>
                                                <g>
                                                    <circle fill="#4a90e2" filter="url(#upGlow)" r="8">
                                                        <animateMotion dur="8s" path="M -100,0 A 100,100 0 1 1 100,0 A 100,100 0 1 1 -100,0" repeatCount="indefinite" />
                                                    </circle>
                                                    <circle fill="#004a80" opacity="0.8" r="6">
                                                        <animateMotion dur="12s" path="M 0,-130 A 130,130 0 1 0 0,130 A 130,130 0 1 0 0,-130" repeatCount="indefinite" />
                                                    </circle>
                                                    <circle fill="#7baed4" r="10">
                                                        <animateMotion dur="15s" path="M 150,0 A 150,150 0 1 1 -150,0 A 150,150 0 1 1 150,0" repeatCount="indefinite" />
                                                    </circle>
                                                </g>
                                                <path d="M -100,0 L 0,-130 L 150,0 L 0,130 L -100,0 Z" fill="none" opacity="0.3" stroke="#cfdaf2" stroke-width="1" />
                                                <path d="M 0,0 L -100,0 M 0,0 L 0,-130 M 0,0 L 150,0 M 0,0 L 0,130" opacity="0.3" stroke="#cfdaf2" stroke-width="1" />
                                                <circle cx="0" cy="0" fill="none" r="0" stroke="#004a80" stroke-width="2">
                                                    <animate attributeName="r" dur="4s" from="0" to="180" repeatCount="indefinite" />
                                                    <animate attributeName="opacity" dur="4s" from="0.4" to="0" repeatCount="indefinite" />
                                                </circle>
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                                <div class="up-text-area">
                                    <span class="up-label-caps">SINCRONIZANDO DATOS</span>
                                    <div class="up-timer">
                                        Tiempo de Carga:
                                        <span class="up-bold">
                                            <label id="lblModalMinutos">0</label>
                                            Minutos</span>
                                        <span class="up-bold">
                                            <label id="lblModalSegundos">0</label>
                                            Segundos</span>
                                    </div>
                                </div>
                                <div class="up-progress-track">
                                    <div class="up-progress-fill"></div>
                                </div>
                            </div>
                        </ProgressTemplate>
                    </asp:UpdateProgress>
                </asp:Panel>
                <ajaxToolkit:ModalPopupExtender ID="ModalProgress" runat="server" TargetControlID="panelUpdateProgress"
                    BackgroundCssClass="modalBackground" PopupControlID="panelUpdateProgress" />
                <!--Fin AjaxProgress-->
            </div>
            <!--Fin ScriptManager-->

            <!--Inicio Body-->
            <div class="container-fluid">
                <asp:UpdatePanel runat="server" ID="UpdatePanel2" UpdateMode="Conditional">
                    <ContentTemplate>
                        <asp:ContentPlaceHolder ID="cphBody" runat="server">
                        </asp:ContentPlaceHolder>
                    </ContentTemplate>
                </asp:UpdatePanel>
            </div>
            <!--Fin Body-->

            <!--Inicio Script-->
            <div>
                <script type="text/javascript" language="javascript">
                    var ModalProgress = 'ctl00_ModalProgress';

                    function getRadWindowSimple() {
                        var oWindow = null;
                        if (window.radWindow)
                            oWindow = window.radWindow;
                        else if (window.frameElement.radWindow)
                            oWindow = window.frameElement.radWindow;
                        return oWindow;
                    }

                    function closeWindowSimple() {
                        var window = getRadWindowSimple();
                        if (window.BrowserWindow.LogOut) window.BrowserWindow.LogOut();
                        window.close();
                    }

                </script>

                <!-- Vendor js -->
                <script src='<%=ResolveUrl("~/Css/Adminto/assets/js/vendor.min.js") %>'></script>




                <asp:ContentPlaceHolder ID="chpScript" runat="server">
                </asp:ContentPlaceHolder>
            </div>
            <!--Fin Script-->
        </div>
    </form>
</body>
</html>
